<div class="panel panel-primary" ng-controller="userForceMdpCtrl">
  <div class="panel-heading">Forcer un nouveau mot de passe du compte <b>{{user.compte_uti}}</b> ({{user.mail_uti}})</div>
  <div class="panel-body">
    <p>Saisissez un nouveau mot de passe</p>
    <form name="formulaire" class="form-horizontal" rc-submit='valider()' role="form" novalidate>
      <div class="form-group" ng-class="{'has-error': rc.formulaire.needsAttention(formulaire.mdp)}">
        <label for="mdp" class="col-sm-2 control-label">Mot de passe</label>
        <div class="col-sm-3">
          <input type="{{(showPassword ? 'text' : 'password')}}" class="form-control" name="mdp" placeholder="Mot de passe" required ng-minlength="6" ng-maxlength="40" ng-model="user.pass_uti" autocomplete="new-password">
          <span ng-click="toggleShowPassword()"
                class="glyphicon {{(showPassword ? 'glyphicon-eye-open' : 'glyphicon-eye-close')}} form-control-feedback offset-eye" 
                style="cursor: pointer; pointer-events: all;">
          </span>
          <div class="alert alert-danger" ng-show="formulaire.$submitted && formulaire.mdp.$invalid">Mot de passe entre 6 et 40 caractères</div>
        </div>
      </div>
      <div class="form-group" >
        <div class="col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>