<div  ng-controller="defaultFseFamilleCtrl">
  <div class="container-fluid">
    <h3><strong><ins>Présentation</ins></strong></h3>
    <p>Comme chaque année, la Coopérative Scolaire (CoopSco) du foyer socio-éducatif (F.S.E.) s'organise pour que vos enfants aient leurs fournitures dès la rentrée. Les prix pratiqués sont globalement compétitifs, puisque les achats sont faits en grande quantité, et que le foyer socio-éducatif est une association à but non lucratif.<br> 
      Les fournitures proposées sont choisies par les professeurs. </p>
    <p>Toutes les personnes (parents, personnels du collège et élèves) qui s'en occupent sont <strong>des bénévoles</strong>.</p>
    <p>Ce site internet a également été intégralement conçu par un bénévole.<br>
    Par ailleurs, veuillez noter que l'affichage ne s'adapte pas aux écrans des téléphones portables, préférez donc un écran de type tablette ou plus grand.</p>
    <br>
    <p class="text-center"><strong><em>Commander ses fournitures par la Coopérative Scolaire n’est pas obligatoire.</em></strong></p>
    <h3><strong><ins>Effectuer sa commande</ins></strong></h3>
    <p>●	Vous devez compléter le bon de commande en cliquant sur l'option 'Mes commandes' du menu sur la gauche, puis créer une nouvelle commande.</p>
    <p>●	Lorsque vous validerez votre commande, un mail de confirmation vous sera envoyé avec, en pièce jointe, le récapitulatif de votre commande.</p>
    <p>●	Le récapitulatif devra être imprimé pour le joindre à votre règlement.</p>
    <h3><strong><ins>Règlement</ins></strong></h3>
    <p>Votre commande peut être réglé par différents moyens :
    <p>●	De préférence par carte bancaire. Retourner sur "Accueil", puis "Mes commandes", sélectionner votre commande et "Régler par CB". Vous serez alors basculés vers le site Helloasso après avoir cliqué sur "Payer avec Helloasso". Ce site propose toujours une contribution complémentaire lié à son fonctionnement, vous pouvez ramener cette contribution à 0 si vous le souhaitez (cliquez sur "modifier la contribution volontaire").</p>
    <p>●	Par chèque, à l’ordre du « <strong><em>F.S.E. Collège A. Mailloux</em></strong> », le récapitulatif devra être imprimé pour le joindre à votre règlement. Noter au dos du chèque : N° de commande, Nom, Prénom et niveau de votre enfant et déposez (dans une enveloppe) dans <ins>la boite aux lettres FSE au collège</ins> (ne pas confondre avec la FCPE !)</p>
    <h3><strong><ins>Venez nous aider à la distribution et à la préparation</ins></strong></h3>
    <p>●	Nous avons besoin de vous.</p>
    <p>●	Chaque année, nous devons préparer et distribuer environ 300 commandes.</p>
    <p><strong style="color:red">●	Prenez quelques minutes pour répondre au questionnaire qui sera transmis dans le mail de validation de commande.</strong></p>
  </div>
</div>
